img{
    display: block;
    margin: auto;
    width : 500px;
    height : 350px;
}

h1{
    color: green;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}

h3{
    color: rgb(52, 52, 143);
    padding-top: 25px;
    padding-left: 25px ;
}

h4{
    font-style: italic;
}

p, ul{
    color: black;
    font-size: medium;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

footer{
    padding-top: 50px;
    padding-left: 100px;
}

h5{
    padding-left: 700px;
    font-size: large;
}

button{
    margin-left: 1400px;
    width : 200px;
    height : 50px;
}
